<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>

<configuration scan="true" scanPeriod="60 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level | %d | %t | %F:%L | %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="com.kbsec.mydata" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="STDOUT" />
    </logger>


</configuration>